
<div class="gap">
    <div class="left-div col-sm-3 col-sm-offset-4">
        <div class="div-center">
            <div>Juice Name: <input type="text" class="form-control input-lg text-center"  ng-model="Name"></div>
            <div>Juice Price: <input type="text" class="form-control input-lg text-center"  ng-model="Cost"></div>
            <div class="col-sm-3 col-sm-offset-4">
                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
            </div>
            <div class="gap">
                <button type="submit" class="col-sm-3 col-sm-offset-4" ng-click="updateBeverage()">Add</button>
            </div>
        </div>


    </div>

    <div class="right-div">
        <table class="gridtable div-center"
               border="1" cellspacing="1" cellpadding="5">
            <tr>
                <th>Juice Name</th>
                <th>Unit Cost</th>
                <th>Availability</th>
            </tr>
            <tr ng-repeat="beverage in beverages">
                <td>{{beverage.Name}}</td>
                <td>{{beverage.Cost}}</td>
                <td>
                    <input type="checkbox" ng-checked="{{beverage.Available}}" ng-click="updateAvailability(beverage)">
                </td>
            </tr>
        </table>
    </div>


</div>