<div  class="gap">

    <ul class="nav nav-pills nav-stacked left-div">
        <li>
            <a ng-click="setSelectedTab({action: 'add'})">Add a user</a>
        </li>

        <li>
            <a ng-click="setSelectedTab({action: 'delete'})">Delete a user</a>
        </li>

        <li>
            <a ng-click="setSelectedTab({action: 'flushAndUpdateDB'})">Flush and Update DB</a>
        </li>

    </ul>


    <div class="col-sm-4 col-sm-offset-4 right-div">
        <form ng-if="addUserForm">
            <div class="form-group">
                <label >Employee ID</label>
                <input  class="form-control" ng-model="employeeId" placeholder="Employee ID">
            </div>

            <div class="form-group">
                <label >Employee Name</label>
                <input  class="form-control"   ng-model="employeeName" placeholder="Employee Name">
            </div>


            <div class="form-group">
                <label >Sl No</label>
                <input  class="form-control"  ng-model="serialNumber" placeholder="Sl No">
            </div>

            <div class="form-group">
                <label >External Number</label>
                <input  class="form-control"  ng-model="externalNumber" placeholder="External Number">
            </div>

            <div class="form-group">
                <label >Internal Number</label>
                <input  class="form-control"  ng-model="internalNumber" placeholder="Internal Number">
            </div>

            <div ng-if="updated" flash-message="5000" ></div>

            <button type="submit" class="btn btn-default" ng-click="addUser()">Submit</button>
        </form>

        <form ng-if="deleteUserForm">
            <div class="form-group">
                <label >Employee ID</label>
                <input  class="form-control" ng-model="employeeId" placeholder="Employee ID">
            </div>

            <div ng-if="updated" flash-message="5000" ></div>

            <button type="submit" class="btn btn-default" ng-click="deleteUser()">Submit</button>
        </form>

        <form ng-if="flushAndUpdateDB" action="api/createUsers" method="post" enctype="multipart/form-data">
            <input type="file" name="users" accept=".xlsx">
            <input  type="submit">
        </form>

    </div>



</div>