
<div class="col-sm-4 col-sm-offset-4">

    <div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </p>


    <div>
        <p>Admin Portal</p>
        <div>Juice Name: <input type="text" class="form-control input-lg text-center"  ng-model="juiceName"></div>
        <div>Juice Price: <input type="text" class="form-control input-lg text-center"  ng-model="juicePrice"></div>
        <button type="submit" class="col-sm-6 col-sm-offset-4 generate-invoice" ng-click="updateJuices()">Add</button>
    </div>

        <a onclick="navigationUrl('#/invoice')"><button class="col-sm-6 col-sm-offset-4 generate-invoice">Generate Invoices</button></a>

    <div>
        <table class="gridtable col-sm-6 col-sm-offset-2 generate-invoice"
               border="1" cellspacing="1" cellpadding="5">
            <tr>
                <th>Juice Name</th>
                <th>Unit Cost</th>
                <th>Delete Juice</th>
            </tr>
            <tr ng-repeat="juice in juices">
                <td>{{juice.Juice}}</td>
                <td>{{juice.Cost}}</td>
                <td>
                    <input  type="submit"  value="Delete" ng-click="deleteJuice(juice.Juice)">
                </td>
            </tr>
        </table>
    </div>

    </div>

</div>