<div class="container">

    <div class="jumbotron text-center">
        <h1> Juice Counter </span></h1>
    </div>

    <div id="details" class="row">
        <p class="col-sm-4 col-sm-offset-4">
            EmployeeID : {{employeeId}}
        </p>

        <p class="col-sm-4 col-sm-offset-4">
            Name : {{name}}
        </p>
        <dropdown class="col-sm-4 col-sm-offset-4"
                  placeholder="select a juice " list="colours"
                  selected="selected" property="name"></dropdown>
    </div>

    <div ng-if="successMessage" flash-message="3000" ></div>
    <div ng-if="placedOrder" class="col-sm-4 col-sm-offset-4  bar" ></div>


    <button type="submit" class="col-sm-4 col-sm-offset-4 btn btn-primary btn-lg"
            ng-click="placeOrder()">Order</button>
</div>
