@import "compass/reset";
@import "compass/css3";

body {
    text-align: center;
    font: 1em/1.5 Georgia, serif;
    color: #333;
    background-image: url("../images/bg_2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: Bitter, Georgia, serif;
    font-size: 2.00em;
    padding: 0 1em;
}

.header {
    padding: 5em 0 14em;

    h1 {
        font-style: inherit;
    }
}

.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(75px); // half the avatar size
    width: 150px;
    height: 150px;
    margin-top: -10px;
}

h2
{
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: rgba(10, 9, 9, 0.6);
    margin-top: 60px;
}

.background{

}
