#details {
    margin-bottom:30px;
}

#other-text-box {
    padding-top: 15px;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.stats {
    position: fixed;
    bottom: 30px;
    width: 100%;
}