.generate-invoice {
    margin-top: 25px;
}

.div-center {
    top: 100px;
    left:15px;
}

.right-div {
    float: inherit;
}

.left-div {
    float: left;
}

.gap {
   padding-top:50px;
}

.minor-gap {
   padding-top:15px;
}

.glyphicon {
    font-size: 30px;
    padding-left: 15px;
}

.green{
   color : green;
}

.red{
   color : red;
}

.cancel-image {
    height : 15px;
    width: 15px;
}

#login-info {
    color: red;
}

#login-form {
    padding-left: 40%;
    padding-top: 10%;
}

input[type="submit"] {
    margin-top: 10px;
}