.generate-invoice {
    margin-top: 25px;
}

.div-center {
    top: 100px;
    left:15px;
}

.right-div {
    float: inherit;
}

.left-div {
    float: left;
}

.gap {
   padding-top:50px;
}

.minor-gap {
   padding-top:15px;
}