<div>

    <div ng-repeat="user in newUsers">

        <form class="form-inline minor-gap">
            <div class="form-group">
                <input readonly class="form-control" ng-model="user.internalNumber" placeholder="Internal Number">
            </div>
            <div class="form-group">
                <input  class="form-control" ng-model="user.empId" placeholder="Employee ID">
            </div>
            <div class="form-group">
                <input  class="form-control" ng-model="user.employeeName" placeholder="Employee Name">
            </div>

            <span class="form-group glyphicon glyphicon-ok green"  ng-click="approve(user)" aria-hidden="true"></span>
            <span class="form-group glyphicon glyphicon-remove red"  ng-click="reject(user)" aria-hidden="true"></span>
        </form>
    </div>


    <div  ng-if="newUsers.length == 0" class="alert alert-info" >
        <strong>No Users to be Authenticated !!!</strong>
    </div>
</div>
