<div class="col-sm-4 col-sm-offset-4 gap">
    <label>
        <input type="radio" ng-checked="invoiceForDate" ng-click="setInvoiceForDate()"> Single Date
    </label>
    <label style="{display: inline-block}">
        <input type="radio" ng-checked="invoiceForPeriod" ng-click="setInvoiceForPeriod()"> Select Period
    </label>


    <div ng-show="invoiceForDate">
        <input   type="date" ng-model="selectedDate">
        <button type="submit" class="generate-invoice" ng-click="getInvoice()">Generate Invoice</button>
        <div class="gap" ng-if="invoiceReady" ng-bind-html="generatedTableForJuices"></div>
        <div  class="gap" ng-if="invoiceReady" ng-bind-html="generatedTableForCTL"></div>
        <p  ng-if="invoiceReady">
            Note : * implies Unit cost took a default value of  &#8377; 15
        </p>
        <div  ng-if="!invoiceReady" class="bar"></div>
    </div>

    <div ng-show="invoiceForPeriod">
        <input   type="date" ng-model="startDate">
        <input   type="date" ng-model="endDate">
        <button type="submit" class="generate-invoice" ng-click="getInvoiceWithInRange()">Generate Invoice</button>

        <div id="printable">
        <div  class="gap" ng-if="invoiceReady" ng-bind-html="generatedTableForJuices"></div>
        <div  class="gap" ng-if="invoiceReady" ng-bind-html="generatedTableForCTL"></div>
        <p  ng-if="invoiceReady">
            Note : * implies Unit cost took a default value of  &#8377; 15
        </p>
        </div>
        <div  ng-if="!invoiceReady" class="bar"></div>
    </div>

    <button ng-if="invoiceReady" ng-click="printDiv('printable');">Print Table</button>

</div>