<div  class="gap">
    <ul class="nav nav-pills nav-stacked left-div">
        <li ng-repeat="tab in tabs" ng-class="{'active': tab.isActive}">
            <a ng-click="setSelectedTab({action: tab.action})">{{tab.name}}</a>
        </li>
    </ul>


    <div class="col-sm-4 col-sm-offset-4 right-div">

        <add-user ng-show="addUserForm"></add-user>

        <find-update-delete-user ng-show="findUpdateDeleteUserForm"></find-update-delete-user>

        <form ng-show="flushAndUpdateDB" action="api/createUsers" method="post" enctype="multipart/form-data">
            <input type="file" name="users" accept=".xlsx">
            <div class="minor-gap">
                <input  type="submit">
            </div>
        </form>
    </div>

    <authenticate-user class="col-sm-6 col-sm-offset-4 right-div" ng-show="authenticateUserForm"></authenticate-user>


</div>