<div  class="gap">
    <ul class="nav nav-pills nav-stacked left-div">
        <li ng-repeat="tab in tabs" ng-class="{'active': tab.isActive}">
            <a ng-click="setSelectedTab({action: tab.action})">{{tab.name}}</a>
        </li>
    </ul>


    <div class="col-sm-4 col-sm-offset-4 right-div">

        <add-user ng-show="addUserForm"></add-user>

        <delete-user ng-show="deleteUserForm"></delete-user>

        <find-user ng-show="findUserForm"></find-user>

        <update-user ng-show="updateUserForm"></update-user>

        <form ng-show="flushAndUpdateDB" action="api/createUsers" method="post" enctype="multipart/form-data">
            <input type="file" name="users" accept=".xlsx">
            <div class="minor-gap">
                <input  type="submit">
            </div>
        </form>
    </div>



</div>