<div class="gap">
    <div class="left-div col-sm-3 col-sm-offset-4">
        <div class="div-center">
            <div>Juice Name:
                <input type="text" class="form-control input-lg text-center" ng-model="name"></div>
            <div>Juice Price:
                <input type="text" class="form-control input-lg text-center" ng-model="cost"></div>

            <div>
                <label class="radio-inline"><input type="radio" value="ctl" ng-model="type">CTL</label>
                <label class="radio-inline"><input type="radio" value="fruit" ng-model="type">Fruit</label>
                <label class="radio-inline"><input type="radio" value="juice" ng-model="type">Juice</label>

            </div>
            <div class="col-sm-3 col-sm-offset-4">
                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
            </div>

            <div class="gap">

                <button ng-controller = "juiceController as ctr" type="submit" class="col-sm-3 col-sm-offset-4" ng-click="updateBeverage()" layout = "row" ng-cloak>Add</button>
            </div>
        </div>


    </div>

    <div class="right-div">
        <table class="gridtable div-center"
               border="1" cellspacing="1" cellpadding="5">
            <tr>
                <th>Juice Name</th>
                <th>Unit Cost</th>
                <th>Availability</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="beverage in beverages">
                <td>{{beverage.name}}</td>
                <td>{{beverage.cost}}</td>
                <td>
                    <input type="checkbox" ng-checked="{{beverage.available}}" ng-click="updateAvailability(beverage)">
                </td>
                <td>
                    <input type="image" src="../images/button_cancel.png" class="cancel-image"
                           ng-click="deleteBeverage(beverage)">
                </td>
            </tr>
        </table>
    </div>


</div>